.app-header{
    display: flex;
    justify-content: space-between;
    padding:20px;
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.app-header button{
    border-radius: 10px;
    border: none;
}